#Frame{
    background-color: orange;
    width: 825px;
    height: 700px;
    padding: 50px;
    border: 1px solid black;
}

#pushDaButton{
    background-color: white;
    width: 200px;
    height: 75px;
    color: blue;
}
#pushDaButton1{
    background-color:white;
    width: 200px;
    height: 75px;
    color:green;
}
#score{
    font-size: 26px;
    color:white;
    display:inline;
    padding: 2px;
    margin-bottom: 10px;
}
#yourScore{
    font-size: 26px;
    color: white;
    display:inline;
    padding: 10px;
    margin-bottom: 10px;
}