body {
    padding-top: 0px !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   

.jumbotron {
    background-image: url("img/50.jpg");
    background-size: cover;
    background-color: #000000;
    background-position-y: 50%;
  }

  .display-4{
    color: rgb(255, 255, 255)!important;
  }

  .display-5{
    color: rgb(255, 255, 255)!important;
  }

