.jumbotron {
    background-image: url("img/c-ma-7bc0i0t4pRo-unsplash.jpg");
    background-size: cover;
    background-color: #000000;
    background-position-y: 40%;
  }

  h1{
      color: crimson;
  }
