h1{
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif !important;
}
.navbar-toggler-icon {
    background-image: url("img/camera.svg")!important;

}

.navbar-toggler-icon.active{
    background-image: url("img/Camera\ \(1\).svg")!important;

}
