h1{
    font-family:'Raleway', Sans-Serif; 
     color:#C2C1A5;
}
h2{
    Font-Family: 'Open Sans', Sans-Serif;
    
}
h3{
    Font-Family: 'Open Sans', Sans-Serif;
}
h5{
    Font-Family: 'Open Sans', Sans-Serif;
    color: crimson;
    font-size: 1.10rem;
}
a {
    color:#5bc0de;
    text-decoration: none;
    background-color: transparent;
    Font-Family: 'Open Sans', Sans-Serif;
}
a:hover {
    color:rgb(155, 20, 20);
    text-decoration: underline;
}

p{
    font-family: 'Open Sans', Sans-Serif;!important;
    text-shadow: .2px .2px #505050;
}
.navbar-toggler-icon {
    background-image: url("image/coffee-mug.svg")!important;

}

.navbar-toggler-icon.active{
    background-image: url("image/coffee-mug (1).svg")!important;
   

}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border:0;
}
button:focus {outline:0;}

.navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-right:8px !important; 
}
text{
    margin-left: 20px;
}

.lead{
    margin-top: 1.7em;
    margin-bottom:3em;
}
.input-group{
    margin-bottom:1em;
}
.badge-notify {
    background: #6394f8;}


    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }