.jumbotron {
    background-image: url("image/3bg.jpg");
    background-size: cover;
    background-color: #000000;
    background-position-y: 30%;
  }

  .display-4{
    color: rgb(255, 255, 255)!important;
    margin-top: 70px!important;
  }

  .display-5{
    color: rgb(255, 255, 255)!important;
    text-shadow: .5px .5px #505050;
  }
