body {
    padding-top: 0px !important;
}

.input-btn{
    margin-top: 1em
}

.white{
    color:crimson;
}

}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%!important;
}